#container {
  display: grid;
  grid: repeat(2, 60px) / auto-flow 80px;
}
#container div {
  background-color: #8ca0ff;
  width: 50px;
  height: 50px;
}
.one {
  display: grid;
  grid: auto-flow / 1fr 1fr 1fr;
  border: 1px solid #333;
}
.two {
  display: grid;
  grid: auto-flow dense / 40px 40px 1fr;
  border: 1px solid #333;
}
.three {
  display: grid;
  grid: repeat(3, 80px) / auto-flow;
  border: 1px solid #333;
}
